$primary-color: var(--u-primary-color, #1c1c1e);
$tabs-titles-border-radius: var(--u-tabs-titles-border-radius, 0);
$tabs-titles-item-font-size: var(--u-tabs-titles-item-font-size, 28px);
$tabs-titles-item-color: var(--u-tabs-titles-item-color, #666666);
$tabs-titles-item-active-color: var(--u-tabs-titles-item-active-color, #333333);
$tabs-titles-background-color: var(--u-tabs-titles-background-color, transparent);
$tabs-horizontal-tab-line-color: var(--u-tabs-horizontal-tab-line-color, #333333);
$tabs-horizontal-titles-height: var(--u-tabs-horizontal-titles-height, 88px);
$tabs-horizontal-titles-item-max-width: var(--u-tabs-horizontal-titles-item-max-width, 256px);
$tabs-horizontal-titles-item-active-line-width: var(--u-tabs-horizontal-titles-item-active-line-width, 56px);
$tabs-titles-item-line-border-radius: var(--u-tabs-titles-item-line-border-radius, 0);
$tabs-titles-item-line-opacity: var(--u-tabs-titles-item-line-opacity, 1);

.u-tabs {
  display: flex;
  flex-direction: column;
  &__tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $tabs-horizontal-titles-height;
    background: $tabs-titles-background-color;
    &-scroll-view {
      box-sizing: content-box;
      height: $tabs-horizontal-titles-height;
      display: flex;
      overflow: hidden;
    }
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }

    &.scrollable {
      overflow-x: auto;
      overflow-y: hidden;

      .u-tabs__tab-item {
        width: auto;
      }
    }

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: auto;
      max-width: $tabs-horizontal-titles-item-max-width;
      width: auto;
      padding: 12px 34px;

      &__text {
        color: $tabs-titles-item-color;
        font-size: $tabs-titles-item-font-size;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        text-align: center;
      }

      &__line {
        position: absolute;
        transition: width 0.3s ease;
        width: 0;
        height: 0;
        content: ' ';
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        overflow: hidden;
      }

      // &.disabled {
      // 	color: $disable-color;
      // }

      &.active {
        .u-tabs__tab-item__text {
          font-weight: 600;
          font-family: PingFang SC-Semibold, PingFang SC;
          color: $tabs-titles-item-active-color;
        }
        .u-tabs__tab-item__line {
          content: ' ';
          width: $tabs-horizontal-titles-item-active-line-width;
          height: 4px;
          background: $tabs-horizontal-tab-line-color;
        }
      }
    }
  }

  &__content {
    &__wrap {
      overflow: hidden;
    }
    display: flex;
    box-sizing: border-box;
  }
}
