page {
	padding-bottom: calc(100 + constant(safe-area-inset-bottom));
	padding-bottom: calc(100px + env(safe-area-inset-bottom));
}

.home-page {
	min-height: 100%;
	&__top {
		height: 604px;
		background: linear-gradient(
			180deg,
			#bfb5ff 0%,
			rgba(217, 217, 217, 0) 100%
		);
	}
	&__body {
		margin-top: -32px;
		min-height: 100%;
		background: #f7f8fa;
		border-radius: 32px 32px 0 0;
		padding: 32px;
	}
}
