a {
	text-decoration: none;
}

input,
button,
textarea {
	font-size: inherit;
	color: inherit;
}

a,
input,
button,
textarea {
	&:focus {
		outline: none;
	}
}

ol,
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
