// https://github.com/jdf2e/nutui/blob/next/src/packages/styles/variables.scss

$primary-color: #1c1c1e;
$primary-color-end: #1c1c1e;

$font-family: PingFang SC, PingFang SC-Regular, Microsoft YaHei, Helvetica,
	Hiragino Sans GB, SimSun, sans-serif;
