@import 'styles/hairline.scss';
$cell-padding: var(--u-cell-padding, 34px 0);
$cell-line-height: var(--u-cell-line-height, 38px);
$cell-border-radius: var(--u-cell-border-radius, 0);
$cell-background: var(--u-cell-background, #ffffff);
$cell-desc-color: var(--u-cell-desc-color, #333333);
$cell-desc-placeholder-color: var(--u-cell-desc-placeholder-color, #999999);
$cell-desc-font-size: var(--u-cell-desc-font-size, 28px);

.u-cell {
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	background: $cell-background;
	padding: $cell-padding;
	line-height: $cell-line-height;
	border-radius: $cell-border-radius;
	overflow: hidden;

	&::after {
		@include hairline-bottom();
	}
	// &:last-child::after,
	&--borderLess::after {
		display: none;
	}

	&__left {
		flex: 1;

		&-title {
			font-size: 28px;
			font-family: PingFang SC-Regular, PingFang SC;
			font-weight: 400;
			color: #333333;
			line-height: 38px;
		}
	}
	&__value {
		flex: 2;
		// max-width: 530px;
		font-size: $cell-desc-font-size;
		font-family: PingFang SC-Regular, PingFang SC;
		font-weight: 400;
		color: $cell-desc-color;
		text-align: right;
		align-items: flex-end;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&__value-placeholder {
		color: $cell-desc-placeholder-color;
	}
	&__right {
		display: flex;
		justify-content: center;
		align-items: center;

		&-wrap {
			width: 36px;
			height: 36px;
			display: flex;
			justify-content: center;
			align-items: center;

			.u-cell__right-icon {
				width: 36px;
				height: 36px;
			}
		}
	}
	&--centered {
		align-items: center;
	}
}
